<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>johncrane.dev</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Lato:wght@400;700&display=swap" rel="stylesheet">
    <link href="{{ url_for('static', filename='css/styles.css')}}" rel="stylesheet">
</head>

<body>
    <main class="main--error">
        <h1>404 - Page not found</h1>
        <p>
            Sorry, we could not find the page you're looking for.
            It may be misspelled or removed.
        </p>
        <a href="{{ url_for('home') }}">Go to home</a>
    </main>
</body>

</html>