{% extends "base.html" %}

{% block content %}
<main class="main main--about">
    <p>
        I am a web developer with a passion for creating beautiful and functional websites. I have experience with HTML,
        CSS, JavaScript, and Python, and I am always looking to learn more. I am currently working on a few projects,
        including a personal blog and a portfolio website. I am excited to continue growing as a developer and to create
        more amazing websites in the future.
    </p>
    <p>
        I like travel cooking and photography. I am always looking for new recipes to try and new places to explore. I
        also enjoy taking photos of the places I visit and sharing them with others. I hope to combine my love of
        travel, cooking, and photography with my passion for web development to create some amazing projects in the
        future.
    </p>
    <p>
        Two truths and a lie:
    <ul>
        <li>
            I was interviewed in Spanish on live TV in Guayaquil, Ecuador.
        <li>
            I was interviewed in French on live TV in Grenoble, France.
        </li>
        <li>
            I was interviewed in Portuguese on live TV in Belem, Brazil.
        </li>
        </li>
    </ul>
    </p>
</main>
{% endblock %}