{% extends "base.html" %}

{% block content %}
<main class="main main--about">
    <p>
        My developer career started at Sierra Online porting adventure games to Macintosh.
        I created games, tools, web apps, and servers for Tsunami Media, Tachyon Studios, and
        iWin using Assembly, C, C++, SQL, Java, Python among other tools. Somewhere I lost my
        way and became a manager. Can a former programmer return to the craft after years as
        an engineering manager, project manager, scrum master and agile coach?
    </p>
    <p>
        Unlikely, but I'm going to try anyway. On this site you'll find my attempts to recapture
        lost glory. Please enjoy.
    </p>
    <h3 style="margin-bottom: 0.1rem;">Continuous Education:</h3>
    <ul style="margin-top: 0.1rem">I continue to study and learn new technologies and techniques.
        <li>DeepLearning.AI - Enrolled in Deep Learning Specialization
        </li>
        <li>Stanford University - Machine Learning
        </li>
        <li>University of Washington - Machine Learning Fundamentals
        </li>
        <li>Pluralsight - 29 courses in Computer Science, AWS, Agile
        </li>
        <li>Udemy - 4 courses in Computer Science and Physics
        </li>
        <li>Duke University - Image and Video Processing
        </li>
        <li>The University of Edinburgh - Astrobiology
        </li>
        <li>Penn State University - Introduction to Haskell
        </li>
        <li>DeVry University - Health Informatics
        </li>

    </ul>
    <h3 style="margin-bottom: 0.1rem;">Miscellanea</h3>
        <ul style="margin-top: 0.1rem"> Two truths and a lie:
        <li>
            I was interviewed in Spanish on live TV in Guayaquil, Ecuador.
        <li>
            I was interviewed in French on live TV in Grenoble, France.
        </li>
        <li>
            I was interviewed in Portuguese on live TV in Belem, Brazil.
        </li>
    </ul>
    </p>
</main>
{% endblock %}