{% extends "base.html" %}

{% block content %}
<main class="main main--about">
    <p>
        My developer career started at Sierra Online porting adventure games to Macintosh.
        I created games, tools, web apps, and servers for Tsunami Media, Tachyon Studios, and
        iWin using Assembly, C, C++, SQL, Java, Python among other tools.
    <p>
        Can a former programmer return to the craft after years as an engineering manager, project manager, scrum master
        and agile coach?
    </p>
    <p>
        Unlikely, but I'm going to try anyway. On this site you'll find my attempts to recapture lost glory.
    </p>
    <p>Please enjoy.</p>
    </p>
    <ul> Two truths and a lie:
        <li>
            I was interviewed in Spanish on live TV in Guayaquil, Ecuador.
        <li>
            I was interviewed in French on live TV in Grenoble, France.
        </li>
        <li>
            I was interviewed in Portuguese on live TV in Belem, Brazil.
        </li>
    </ul>
    </p>
</main>
{% endblock %}