{% extends "base.html" %}

{% block content %}
<main class="main main--about">
    <dl>
        <div class="contact">
            <dt>Email:</dt>
            <dd class="contact__details">
                <a class="contact__link" href="mailto:john.crane+portfolio@gmail.com">john.crane&commat;gmail.com</a>
            </dd>
        </div>
        <div class="contact">
            <dt>GitHub:</dt>
            <dd class="contact__details">
                <a class="contact__link" href="https://github.com/wearsunscreen">@wearsunscreen</a>
            </dd>
        </div>
        <div class="contact">
            <dt>Linkedin:</dt>
            <dd class="contact__details">
                <a class="contact__link" href="https://www.linkedin.com/in/john-crane/">John Crane</a>
            </dd>
        </div>
    </dl>
</main>
{% endblock %}